#loader-bg {
    background: #fbfbfb;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#loader-bg img {
    position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}

#output_message {
    font-weight: 500;
    left: 55%;
    top: 76%;
    position: absolute;
}

.output-0 {
    color: #ffffff;
    background-color: #831818;
    opacity: 0.5;
}

.output-1 {
    color: #ffffff;
    background-color: #ada206;
    opacity: 0.5;
}

.output-2 {
    color: #ffffff;
    background-color: #219927;
    opacity: 0.5;
}

.output-3 {
    color: #ffffff;
    background-color: #1e6c8b;
    opacity: 0.5;
}

.output-4 {
    color: #ffffff;
    background-color: #17186d;
    opacity: 0.5;
}

.button {
    color: black;
}

.log-set {
    color: #ffffff;
}

.log-top {
    margin-top: 10%;
}

.already {
    margin-top: 10%;
    font-size: 30px;
    color: #ffffff;
}


/* styles for desktop */

.tinynav {
    display: none
}


/* styles for mobile */

@media screen and (max-width: 600px) {
    .tinynav {
        display: block
    }
    #menu {
        display: none
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="password"] {
    background-color: transparent;
    border: solid;
    outline: none;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

input[type="email"] {
    background-color: transparent;
    border: solid;
    outline: none;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

input[type="email"]:hover {
    border: solid#b97a56;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    transition: .3s;
}

input[type="password"]:hover {
    border: solid#b97a56;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    transition: .3s;
}

input::placeholder {
    color: rgb(48, 48, 48);
}

#label22:hover {
    color: #b97a56;
}

.toggle {
    left: 30px;
    position: relative;
}

select.tinynav {
    position: absolute;
    right: 0;
    font-size: 1.5em;
    /* 文字の大きさ */
    width: 7em;
    /* 横幅 */
    background-color: #141414;
    /* 背景色 */
    /* 枠線 */
    color: #ffffff;
}

.title-font {
    padding-top: 20px;
    margin-bottom: 20px;
}

.wrapper {
    min-height: 100%;
    /* フッタの高さと等しいネガティブマージン */
    /* また最後の子要素の潜在的なマージンとしても機能 */
    margin-bottom: -50px;
}

.fin-text {
    font-size: 220px;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
}

.login-text {
    margin-top: 10%;
    color: #ffffff;
}

.footer1 {
    position: absolute;
    /*←絶対位置*/
    bottom: -30%;
    /*下に固定*/
    vertical-align: top;
    width: 100%;
    background-color: #373942;
}

.footer1 a {
    color: #ffffff;
}

.footer {
    /*←絶対位置*/
    bottom: 0;
    /*下に固定*/
    vertical-align: top;
    width: 100%;
    background-color: #373942;
    margin-top: 10%;
}

.footer-span {
    padding-left: 20px;
    padding-right: 20px;
}

.footer a {
    color: #ffffff;
}

.search-box {
    width: 400px;
}

.ser-box li {
    list-style-type: none;
    float: left;
}

.icon {
    list-style-type: none;
}

#menu {
    list-style-type: none;
    width: auto;
    height: 2%;
    background-color: transparent;
    margin-top: 15px;
    /* border-bottom: solid 5px #4c4d4e; */
}

#menu li {
    position: relative;
    width: 24%;
    float: left;
}

#menu li a {
    display: block;
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    border-bottom: 3px solid #ffffff;
}

#menu li ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 13em;
}

#menu li ul li {
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: transparent;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}

#menu li ul li a {
    background-color: transparent;
    /* text-align: center; */
    font-size: 17px;
    margin-top: 10px;
    border-bottom: 0;
    margin-left: 35px;
    position: static;
}

#menu li:hover>a {
    background-color: transparent;
    color: #b97a56;
}

#menu li:hover ul li {
    overflow: visible;
    height: 38px;
}

#menu li:hover ul li:first-child {
    border-top: 0;
}

#menu li:hover ul li:last-child {
    border-bottom: 0;
}

#page_top {
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

#page_top a {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #b97a56;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page_top a::after {
    content: 'PAGE UP';
    font-size: 13px;
    color: #b97a56;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

body {
    background-color: #141414;
    text-align: center;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #43e2c6, #3183d0);
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, .5);
}

p {
    font-size: 16px;
    text-overflow: ellipsis;
    width: 320px;
    color: rgb(255, 255, 255);
}

.menu-color {
    font-family: 'Cherry Swash', cursive;
}

.arasuji-color {
    color: #ffffff;
    text-decoration: none;
}

.top_text {
    color: #ffffff;
    margin-top: 80px;
    font-size: 50px;
    font-family: 'Courier Prime', monospace;
}

.help_text-top {
    color: #ffffff;
    margin-top: 10%;
    font-size: 50px;
    font-family: 'Courier Prime', monospace;
}

.example {
    display: inline-block;
    vertical-align: text-top;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    zoom: 73%;
}

.example p {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
}

.container {
    display: inline-block;
    vertical-align: top;
}

.null {
    color: #ffffff;
    position: absolute;
    top: 58%;
    right: 1%;
    opacity: 0.8;
    float: left;
    border-bottom: 2px solid #ffffff;
}

.java-text {
    margin-top: 160px;
    color: rgb(255, 255, 255);
}

.neturl {
    color: #eb0021;
}

.help_text {
    font-size: 20px;
    color: #ffffff;
}

.help_text h3 {
    color: #ffffff;
}

.span-Youtube {
    margin-left: 10px;
    color: #ffffff;
    font-size: 20px;
}

.span-Netflix {
    margin-left: 10px;
    color: #ff0000;
    font-size: 20px;
}

.span-Amazon {
    margin-left: 10px;
    color: #ff7b00;
    font-size: 20px;
}

.help-check-text {
    font-size: 50px;
}

#menu li .test100 {
    margin-left: 3%;
}

.key2.icon {
    color: #000;
    position: absolute;
    margin-left: 57px;
    margin-top: 35px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.key.icon {
    color: #000;
    position: absolute;
    margin-left: 47px;
    margin-top: 36px;
    width: 8px;
    height: 9px;
    border-radius: 50%;
    border: solid 1px currentColor;
}

.mail.icon {
    color: #000;
    position: absolute;
    margin-left: 47px;
    margin-top: 33px;
    width: 18px;
    height: 12px;
    border-radius: 1px;
    border: solid 1px currentColor;
}

.mail.icon:before {
    content: '';
    position: absolute;
    left: 7px;
    top: -4px;
    width: 1px;
    height: 10px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotate(-54deg);
    transform: rotate(-54deg);
}

.mail.icon:after {
    content: '';
    position: absolute;
    left: 7px;
    top: -4px;
    width: 1px;
    height: 10px;
    background-color: currentColor;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg);
}

.key.icon:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 3px;
    width: 11px;
    height: 1px;
    background-color: currentColor;
}

.key.icon:after {
    content: '';
    position: absolute;
    left: 13px;
    top: 3px;
    width: 1px;
    height: 3px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
}

.key2.icon:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 3px;
    width: 12px;
    height: 1px;
    background-color: currentColor;
}

.key2.icon:after {
    content: '';
    position: absolute;
    left: 14px;
    top: 0px;
    width: 1px;
    height: 3px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
}

.test50 {
    width: 35%;
    margin-left: 32%;
    border: solid;
    margin-top: 11%;
    background-color: rgba(185, 165, 156, 0.55);
    border-radius: 8px;
}

.btn-flat-border {
    display: inline-block;
    padding: 0.5em 2.5em;
    text-decoration: none;
    color: #b97a56;
    border: solid 2px #b97a56;
    border-radius: 3px;
    transition: .8s;
    margin-bottom: 15%;
    border-radius: 8px;
}

.btn-flat-border:hover {
    background: #69c1e4;
    border: solid 2px #69c1e4;
    color: white;
}

.top_logtext {
    color: #ffffff;
    font-size: 40px;
    margin-top: 6%;
}

.btn-primary {
    display: inline-block;
    padding: 0.3em 1.5em;
    text-decoration: none;
    color: #ffffff;
    border: solid 2px #0275d8;
    border-radius: 3px;
    transition: .2s;
    margin-bottom: 15%;
    border-radius: 7px;
}

.btn-primary:hover {
    background: #69c1e4;
    border: solid 2px #69c1e4;
    color: white;
}